[Desktop Entry]
Version=1.0
Name=Subliminal Vim
GenericName=Text Editor
Exec=subliminal-vim
Terminal=false
Icon=/usr/share/icons/subliminal-vim.png
Type=Application
Categories=TextEditor;IDE;Development
