[Desktop Entry]
Encoding=UTF-8
Name=Subliminal Vim
GenericName=Text Editor
Comment=Text Editor
X-GNOME-FullName=Subliminal Vim
Exec=subliminal-vim %u
Terminal=false
Icon=~/.local/share/icons/subliminal-vim.png
Type=Application
Categories=TextEditor;IDE;Development
MimeType=text/plain;
StartupNotify=true
StartupWMClass=subliminal-vim
