[Desktop Entry]
Encoding=UTF-8
Name=Subliminal View
GenericName=Text Editor
Comment=Text Editor
X-GNOME-FullName=Subliminal View
Exec=subliminal-view %F
Terminal=false
Icon=subliminal-view
Type=Application
Categories=TextEditor;IDE;Development
MimeType=text/plain;
StartupNotify=true
StartupWMClass=subliminal-view
